/* ENTITIES GRID */
.grid-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
}

.TAssociations.loading-container {
  height: 1000px;
}

/* --- CONTROLS --- */
.ControlsSection {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ControlsSection .global-controls-container {
  display: flex;
}

.ControlsSection .global-controls-container input {
  width: 200px;
}

.ControlsSection .global-controls-container .options-controls {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

/* --- HEADER ---  */
.TAssociations .Theader {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 100;
  font-weight: 800;
  /* border-bottom: 1px solid var(--header-border-color); */
}

.TAssociations .Theader .cols-container {
  display: flex;
}

.TAssociations .Theader .naiming-cols {
  display: flex;
}
.TAssociations .Theader .entity-cols {
  display: flex;
  padding-left: 5px;
  margin-left: 30px;
  width: 100%;
  gap: 4px;
}

.TAssociations .Theader .header-name {
  width: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.TAssociations .Theader .header-name div {
  margin-bottom: 5px;
}

.TAssociations .Theader .rotate {
  height: 140px;
  white-space: nowrap;
  flex-grow: 1;
}

.TAssociations .Theader .docs-link {
  color: #fafafa;
  transition: all ease-in-out 150ms;
}

.TAssociations .Theader .rotate:hover .docs-link {
  color: var(--primary-color);
}

.TAssociations .Theader .cursor-pointer {
  cursor: pointer;
}

.TAssociations .Theader .cursor-help {
  cursor: help;
}

.TAssociations .Theader .header-desc-icon {
  margin-left: 5px;
}

.TAssociations .Theader .rotate > div {
  transform: translate(0, 110px) rotate(315deg);
  width: 30px;
  display: flex;
  align-items: center;
}

/* --- BODY --- */
.TAssociations .TBody {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.TAssociations .table-body {
  padding-bottom: 10px;
}

/* Table footer */
.TAssociations .table-footer {
  position: sticky;
  border-top: 1px solid var(--table-footer-border-color);
  bottom: 0;
  background-color: #fafafa;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

/* --- LEGEND --- */
.TAssociations #legend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ROW */
.TAssociations .TRow {
  display: flex;
  flex-direction: column;
}
.TAssociations .data-row {
  display: flex;
  align-items: center;
}

.TAssociations .data-row .data-row-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.TAssociations .data-row:hover {
  background-color: var(--row-hover-color);
}

.TAssociations .data-row.active {
  position: sticky;
  top: 145px;
  padding: 0.5em 0 0.5em 0;
  z-index: 90 !important;
  background-color: var(--row-hover-color);
}

.TAssociations .data-row .data-row-content .group-naiming-cols {
  display: flex;
  align-items: center;
}

.TAssociations .data-row .data-row-content .group-entity-cols {
  display: flex;
  align-items: center;
  height: 35px;
  margin-left: 20px;
  width: 100%;
  border-left: 1px solid var(--entities-border-color);
  /* border-left: 1px solid #aeaeae; */
}

/*  CELL  */
.TAssociations .data-cell {
  width: 30px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.TAssociations .data-row .name-cell {
  width: 120px;
  white-space: nowrap;
  padding: 0 0.5rem 0 0;
  text-align: left;
}

.TAssociations .data-row .data-cell .data-score.loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.TAssociations .data-row .data-cell .data-score {
  cursor: pointer;
  box-sizing: border-box;
}

.TAssociations .data-row .data-cell.active .data-score {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(92, 19, 19, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(0, 0, 0) !important;
  position: sticky;
  top: 0;
}

.TAssociations .data-row .data-cell .data-score:hover,
.TAssociations .data-row .data-cell .data-score:focus {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
}

/* Agregations indicators */

.TAssociations .aggregations-container {
  display: flex;
  flex-direction: row;
  margin-left: 170px;
  gap: 4px;
  align-items: center;
}

.TAssociations .aggregations-container .aggregation-indicator {
  position: relative;
  background-color: var(--aggregations-color);
  height: 5px;
  transition: all ease 300ms;
}

.TAssociations .aggregations-container .aggregation-indicator.active {
  transform: scale(1, 1.8);
  background-color: var(--primary-color);
}

.TAssociations .aggregations-container .aggregation-indicator:hover {
  transform: scale(1, 1.8);
  background-color: var(--primary-color);
}

/* Category indicators */
.TAssociations .category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 400px;
}

.TAssociations .category-container .category-indicator {
  width: calc(100% / 14);
  position: relative;
}

.TAssociations .category-container .category-indicator div {
  width: 100%;
  height: 4px;
  content: ' ';
  transition: all ease 300ms;
}

.TAssociations .category-container:hover .category-indicator div {
  height: 15px;
}

/* Weights controlls */
.TAssociations .weights-controlls {
  background-color: #f6f6f6;
  position: relative;
  box-sizing: content-box;
  padding: 20px 0 15px;
}

.TAssociations .weights-controlls .controlls-container {
  display: flex;
  height: 65px;
}

.TAssociations .weights-controlls .controlls-wrapper {
  width: 100%;
  margin-left: 170px;
}

.TAssociations .weights-controlls .name-empty-controll {
  width: 230px;
  content: ' ';
}

.TAssociations .weights-controlls .score-empty-controll {
  height: 25px;
  width: 30px;
  content: ' ';
  margin-right: 20px;
}

.TAssociations .weights-controlls .controll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TAssociations .weights-controlls .controll-container span {
  font-size: 11px;
}
