body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Rules for Bibliography abstract highlight */
[data-entity="TARGET&DISEASE"],
[data-entity="DISEASE"],
[data-entity="DRUG"],
[data-entity="GENE"] {
  padding: 0.15em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid;
}

[data-entity="TARGET&DISEASE"]:after,
[data-entity="DISEASE"]:after,
[data-entity="DRUG"]:after,
[data-entity="GENE"]:after {
  box-sizing: border-box;
  font-size: 0.6em;
  line-height: 1;
  padding: 0.25em;
  border-radius: 0.25em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0.1rem 0.5rem;
}

[data-entity][data-entity="DRUG"] {
  background: #d8eddc;
  border-color: #9ccca6;
}

[data-entity][data-entity="DRUG"]:after {
  background: #d8eddc;
}

[data-entity][data-entity="DISEASE"] {
  background: #f3e1d9;
  border-color: #e7b1a0;
}

[data-entity][data-entity="DISEASE"]:after {
  background: #f3e1d9;
}

[data-entity][data-entity="TARGET&DISEASE"] {
  background: #d0ddeb;
  border-color: #82b0ca;
}

[data-entity][data-entity="TARGET&DISEASE"]:after {
  background: #d0ddeb;
}

[data-entity][data-entity="GENE"] {
  background: #e3d1e2;
  border-color: #bc8cb5;
}
[data-entity][data-entity="GENE"]:after {
  background: #e3d1e2;
}

/* styles for highlights */
.highlights em {
  border: 1px solid darkgray;
  border-radius: 0.25em;
  background: #efefef;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 500;
}

.highlights .separator {
  font-weight: 700;
}

/* Molecular interactions */
.selected-evidence {
  float: right;
  color: #ccc;
  visibility: hidden;
}
.Mui-selected .selected-evidence {
  visibility: visible;
}

// AotF

/* --- HEADER ---  */
.TAssociations .Theader {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 100;
}

.TAssociations .Theader .cols-container {
  display: flex;
}

.TAssociations .Theader .naiming-cols {
  display: flex;
  width: var(--table-left-column-width);
}

.TAssociations .Theader .header-name {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
}

.TAssociations .Theader .header-name div {
  margin-bottom: 5px;
}

.TAssociations .Theader .rotate {
  height: 140px;
  white-space: nowrap;
}

.TAssociations .Theader .docs-link {
  color: #fafafa;
  transition: all ease-in-out 150ms;
}

.TAssociations .Theader .rotate:hover .docs-link {
  color: var(--primary-color);
}

.TAssociations .Theader .cursor-pointer {
  cursor: pointer;
}

.TAssociations .Theader .cursor-help {
  cursor: help;
}

.TAssociations .Theader .header-desc-icon {
  margin-left: 5px;
}

.TAssociations .Theader .rotate > div {
  transform: translate(0, 110px) rotate(315deg);
  width: 24px;
  display: flex;
  align-items: center;
}

/* --- LEGEND --- */
.TAssociations #legend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ROW */

.TAssociations .group-naiming-cols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--table-left-column-width);
}

.TAssociations .header-score {
  margin-right: 10px;
}

.TAssociations .group-entity-cols {
  align-items: center;
  height: 32px;
}

/* Agregations indicators */

.TAssociations .aggregation-indicator {
  position: relative;
  width: 100%;
  height: 8px;
  opacity: 0.8;
  transition: all ease 300ms;
  background-color: var(--aggregations-border-color);
  border: 1.5px solid var(--aggregations-border-color);
  border-radius: 2px;
}

.TAssociations .aggregation-indicator.active {
  transform: scale(1, 1.3);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.TAssociations .aggregation-indicator:hover {
  transform: scale(1, 2);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  cursor: pointer !important;
}

/* Weights controlls */

.TAssociations .weights-controlls .controlls-container {
  display: flex;
}

.TAssociations .weights-controlls .controlls-wrapper {
  width: 100%;
}
.TAssociations .weights-controlls .header-controls-labels {
  text-align: right;
  width: var(--table-left-column-width);
}

.TAssociations .weights-controlls .required-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.TAssociations .weights-controlls .controlls-wrapper .colum-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.TAssociations .weights-controlls .name-empty-controll {
  width: 230px;
  content: " ";
}

.TAssociations .weights-controlls .score-empty-controll {
  height: 25px;
  width: 30px;
  content: " ";
  margin-right: 20px;
}

.TAssociations .weights-controlls .control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65px;
}

.TAssociations .weights-controlls .control-container span {
  font-size: 11px;
}

@media only screen and (max-width: 1050px) {
  .TAssociations {
    --table-left-column-width: 170px !important;
    --table-header-max-width: 100px !important;
    overflow-x: scroll;
    max-height: 600px;
    & main {
      max-width: 900px !important;
      min-width: 820px !important;
    }
  }
}
