/* --- HEADER ---  */
.TAssociations .Theader {
  padding-top: 15px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 100;
  justify-content: space-evenly;
  font-weight: 800;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.TAssociations .Theader .header-score {
  padding-right: 20px;
}

.TAssociations .Theader .header-name {
  width: 230px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.TAssociations .Theader .header-name div {
  margin-bottom: 20px;
}

.TAssociations .Theader .rotate {
  height: 140px;
  white-space: nowrap;
}

.TAssociations .Theader .rotate > div {
  transform: translate(10px, 100px) rotate(315deg);
  width: 30px;
}

.TAssociations .rotate > div > span {
  /* border-bottom: 1px solid #ccc; */
  padding: 5px 10px;
}

/* --- BODY --- */
.TAssociations .TBody {
  display: flex;
  flex-direction: column;
}

/* ROW */
.TAssociations .TRow {
  display: flex;
  flex-direction: column;
}
.TAssociations .data-row {
  display: flex;
  margin-bottom: 3px;
  justify-content: space-evenly;
  background-color: #fafafa;
}

.TAssociations .data-row.active {
  position: sticky;
  top: 155px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 90;
}

/*  CELL  */
.TAssociations .name-cell {
  width: 230px;
  white-space: nowrap;
  padding: 0 0.5rem 0 0;
  text-align: left;
}

.TAssociations .data-cell .data-score.loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.TAssociations .data-cell .data-score {
  cursor: pointer;
  box-sizing: border-box;
  /* transition: all ease-in-out 300ms; */
}

.TAssociations .data-cell.active .data-score {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(92, 19, 19, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(0, 0, 0) !important;
  position: sticky;
  top: 0;
}

.TAssociations .data-cell .data-global-score {
  margin-right: 20px;
}

.TAssociations .data-cell .data-score:hover,
.TAssociations .data-cell .data-score:focus {
  /* border: 2px solid #454545 !important; */
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
}
