.TAssociations table {
}

.TAssociations tbody {
  border-bottom: 1px solid lightgray;
}

.TAssociations .rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

.TAssociations .rotate > div {
  transform: 
    /* Magic Numbers */ translate(0px, 51px)
    /* 45 is really 360 - 45 */ rotate(315deg);
  width: 30px;
}
.TAssociations .rotate > div > span {
  /* border-bottom: 1px solid #ccc; */
  padding: 5px 10px;
}
.TAssociations tfoot {
  color: gray;
}

.TAssociations td {
  display: table-cell;
}

.TAssociations .header-score {
  padding-right: 20px;
}

.TAssociations .header-name {
  width: 250px;
}

.TAssociations th {
  /* background-color: #ffffff; */
  padding: 0;
  border: #fafafa;
}

.TAssociations .name-cell {
  width: 230px;
  white-space: nowrap;
  /* text-overflow: ellipsis;
  overflow: hidden;
  border: 0;*/
  padding: 0 0.5rem 0 0;
  text-align: left;
}

.TAssociations .data-cell.active .data-score {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(92, 19, 19, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(0, 0, 0) !important;
  position: sticky;
  top: 0;
}

/* HEADER STYLES */
.TAssociations .Theader {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 100;
}

/* BODY */
.TAssociations .TBody {
  display: flex;
  flex-direction: column;
}

/* ROW */
.TAssociations .TRow {
  display: flex;
  margin-bottom: 3px;
  justify-content: space-evenly;
  background-color: #fafafa;
}

.TAssociations .TRow.active {
  position: sticky;
  top: 140px;
  padding: 20px 0;
  z-index: 100;
}

/* CELL */
.TAssociations .data-cell .data-score {
  cursor: pointer;
  box-sizing: border-box;
  /* transition: all ease-in-out 300ms; */
}

.TAssociations .data-cell .data-global-score {
  margin-right: 20px;
}

.TAssociations .data-cell .data-score:hover,
.TAssociations .data-cell .data-score:focus {
  /* border: 2px solid #454545 !important; */
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
}

/* .TAssociations tfoot th {
  font-weight: normal;
} */
